@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-down {
    transition: transform 1s;
    transform: translateY(-4rem);
}
.transition-up {
    transition: transform 1s;
    transform: translateY(4rem);
}
